/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
}

#home-grid{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}
body{
     background-color: #0F0F0F;
}